body {
  margin: auto;
  width: auto; 
  padding: auto;
  font-family: 'Avenir', sans-serif; 
  color: #33475b;    
}
h1 {
  font-family: "chatapp";
  src: url("./fonts/chatapp.eot");
  src: url("./fonts/chatapp.eot?#iefix") format("embedded-opentype"), url("./fonts/chatapp.woff") format("woff"), url("./fonts/chatapp.ttf") format("truetype"), url("./fonts/chatapp.svg#chatapp") format("svg");
  font-weight: normal;
  font-style: normal; 
    color : black;
    line-height: 1;
    text-align: right;
    font-size: larger;
    text-decoration-line:underline;
}
h2 {
  font-family: 'Open Sans', sans-serif; 
    color: black;
    text-align: center;
    line-height: 50px;
}
image {
  align-items: center;
  justify-content: center;
}
p {
  text-align: center;
 
}
body {
  <!-- solid style -->
  <i class="fa-solid fa-user"></i>

  <!-- regular style -->
  <i class="fa-regular fa-user"></i>

  <!-- light style -->
  <i class="fa-light fa-user"></i>

  <!-- duotone style -->
  <i class="fa-duotone fa-user"></i>

  <!-- all new thin style -->
  <i class="fa-thin fa-user"></i>

  <!-- all new sharp family -->
  <i class="fa-sharp fa-solid fa-user"></i>

  <!--brand icon-->
  <i class="fa-brands fa-github-square"></i>
}
